.root {
  height: 100%;
  font-family: sans-serif;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Ajout de styles pour les éléments enfants si nécessaire */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}